{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Surasang About Page</title>

    
  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/about.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/about.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="{% url 'about' %}">ABOUT</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'mypage' %}">MYPAGE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">LOGIN</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="mt-5">About Surasang</h1>
        <p>수라상은 나아갈 수(遂) LIFE 위 상(上)의 줄임말로,
          음식을 통해 나의 라이프를 높게 나가가자 라는 뜻과
          건강에 좋은 임금님 밥상을 생각하여 밥을 제공하자는두가지 의미를 담고 있습니다.
        </p>
      </div>
    </div>
  </div>
</section>
<img src="{% static 'img/logo.png' %}">
<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
