{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="{% static 'css/login.css' %}" rel="stylesheet">

	<title>Soorasang Login Page</title>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" href="{% url 'login' %}">LOGIN</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'index' %}">HOME</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'about' %}">ABOUT</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'mypage' %}">MYPAGE</a>
					</li>
					<li class="nav-item">
						<div class="dropdown-menu">
    <a class="outline-primary dropdown-item"  href="{% url 'login' %}">LOGIN</a>
      <a class="outline-primary dropdown-item"  href="{% url 'signin' %}">SIGN UP</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div clas="title">
		<h1>LogIn</h1>

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</div>
    <div class= "panel panel-primary">
        
	<div class="content">
		<div class="id">
			<div class="input-id">
				<div class="input-group-id">
					<p>ID</p>
					<input type="text" aria-label="ID" class="form-control">
				</div>
			</div>
		</div>

		<br><br>

		<div class="password">
			<div class="input-password">
				<div class="input-group-password">
					<p>PASSWORD</p>
					<input type="text" aria-label="PASSWORD" class="form-control">
				</div>
			</div>
		</div>
		<br><br>

		<button type="button" class="btn btn-outline-dark">LOGIN</button>
	</div>
    </div>
</body>
<footer class="py-5 bg-dark">
	<div class="container">
		<p class="m-0 text-center text-white">Copyright &copy; 수라상 2019</p>
	</div>
	<!-- /.container -->
</footer>
</html>