{% load staicfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="nagui.css" rel="stylesheet">

	<title>Surasang Nagui Page</title>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" href="#">Surasang</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">HOME</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">ABOUT</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">MYPAGE</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">LOGIN</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="content-box">
		<div class="container1">
			<div class="list1">
				<ul class="listlist">
					        <li class="item"><a href="" class="itemlink">나귀</a></li>
					<br>
					        <li class="item"><a href="" class="itemlink">술나귀</a></li>
					<br>
					        <li class="item"><a href="" class="itemlink">다이어트&운동나귀</a></li>
					<br>
							<li class="item"><a href="" class="itemlink">BEST나귀</a></li>
				</ul>
			</div>	
		</div>

		<div class="container2">
			<div class="jumbotron jumbotron-fluid">
				<div class="container">
					<h1 class="display-4">For Nagui</h1>
					<p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
				</div>
			</div>

			<ul class="nav nav-tabs">
				<li class="nav-item">
					<a class="nav-link active" href="#">음식</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">레시피</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">건강 맛집 추천</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">건강식품 추천</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">보조제*비타민</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">자유 커뮤니티</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Nagui</a>
				</li>
			</ul>
			<div class="container3">
				<div id="hashtag"> 
					<a href="#" class="badge badge-pill badge-warning">#감기</a>
					<a href="#" class="badge badge-pill badge-warning">#암</a>
					<a href="#" class="badge badge-pill badge-warning">#노안</a>
				</div>
			</div>

			<div class="container4">
				<ul class="list-unstyled">
					<li class="media">
						<img src="..." class="mr-3" alt="...">
						<div class="media-body">
							<h5 class="mt-0 mb-1">제목1</h5>
							간단한 내용1
						</div>
					</li>
					<li class="media">
						<img src="..." class="mr-3" alt="...">
						<div class="media-body">
							<h5 class="mt-0 mb-1">제목2</h5>
							간단한 내용2
						</div>
					</li>
					<li class="media">
						<img src="..." class="mr-3" alt="...">
						<div class="media-body">
							<h5 class="mt-0 mb-1">제목3</h5>
							간단한 내용3
						</div>
					</li>
				</ul>
			</div>

			<div class="button">
				<button type="button" class="btn btn-outline-warning">처음</button>
				<button type="button" class="btn btn-outline-secondary">이전</button>
				<button type="button" class="btn btn-outline-secondary">다음</button>
				<button type="button" class="btn btn-outline-warning">마지막</button>
			</div>

		</div>
	</div>
	<div class="foot">
		<footer class="py-5 bg-dark">
			<div class="container">
				<p class="m-0 text-center text-white">Copyright &copy; 수라상 2019</p>
			</div>
			<!-- /.container -->
		</footer>
	</div>
</body>
</html>