
/*광고카드*/
#floatdiv { position:fixed;
 width:175px; 
 display:inline-block; 
 right:0px; /* 창에서 오른쪽 길이 */
 top:10%; /* 창에서 위에서 부터의 높이 */ 
 background-color: transparent; margin:0; } 

.card-text{
	font-size: 13px;
}
 






body {
  padding-top: 56px;
}

footer{
	
	width:100%;
	padding-top: 10px;
	background-color: black;
	margin-top: 20px;
}